<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>IMPRESSORAS - CONTAGEM MENSAL DE IMPRESSÕES</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Ano:</mat-label>
          <mat-select name="fyear" [(ngModel)]="fyear" (ngModelChange)="onChange($event)" >
            <mat-option *ngFor="let i of years" value="{{ i }}">{{ i }} </mat-option>
          </mat-select>
        </mat-form-field>
    
        &nbsp;&nbsp;

        <mat-form-field appearance="outline">
          <mat-label>Mês:</mat-label>
          <mat-select name="fmonth" [(ngModel)]="fmonth" (ngModelChange)="onChange($event)" >
            <mat-option *ngFor="let m of months" value="{{ m }}">{{ m }} </mat-option>
          </mat-select>
        </mat-form-field>

        &nbsp;&nbsp;

        <!--<button mat-raised-button color="warn" (click)="onClick_reload()">Carregar</button>-->
      </form>
      
    </div>
    <div class="col-2">
      <div class="{{ pb_color }} inlinex paddingx">TOTAL P&B <br/> <b>{{ pb_total }}</b></div>
    </div>
    <div class="col-2">
      <div class="{{ color_color }} inlinex paddingx">TOTAL COLOR <br/> <b>{{ color_total }}</b></div>
    </div>
  </div>
  <div class="row">
    <div >
      <table *ngIf="table_content.length" datatable [dtOptions]="dtOptions" class="mat-elevation-z18">
        <thead>
          <tr>
            <th>CENTRO DE CUSTO (PRÉDIO)</th>
            <th>CAMPI</th>
            <th>TOTAL EM {{ fmonth }} / {{ fyear }} (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dt of table_content">
            <td>{{ dt.name }}</td>
            <td>{{ dt.campi }}</td>
            <td><div class="{{ dt.colorx }} center">{{ dt.total }}</div></td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>

</div>

