.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .font8 {
    font-size: 8pt;
  }

table.dataTable tbody th, table.dataTable tbody td {
    padding: 3px 3px;
}


table {
  width: 100%;
}

table tr td {
  border-bottom: 1px lightgray;
  border-top: 1px solid lightgray;
}


.center {
  text-align: center;
}

.success {
  border : 1px solid rgb(4, 117, 4);
  background-color: rgb(4, 146, 4);
  color : white;
}

.warning {
  border : 1px solid yellow;
  background-color: orange;
  color : black;
}

.alert {
  border : 1px solid red;
  background-color: lightcoral;
  color : white;
}

.purple {
  border : 1px solid lightcyan;
  background-color: purple;
  color : white;
}

.inlinex {
  display: inline-block;
  margin-top: 5px;
  border-radius: 7px;
  padding: 3px;
  width: 100%;
  text-align: center;
}

.paddingx {
  padding-top: 10px;
  padding-bottom: 5px;
}
