.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .font8 {
    font-size: 8pt;
  }

table.dataTable tbody th, table.dataTable tbody td {
    padding: 3px 3px;
}


table {
  width: 100%;
}

table tr td {
  border-bottom: 1px lightgray;
  border-top: 1px solid lightgray;
}
